*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 67%;
    border:solid 1px black;
    margin: auto;
}

.controls {
    height: 20vh;
    border-bottom: solid 1px black;
    background-color: aqua;
    padding: 20px;
}

.content{
    height: 80vh;
    background-color: bisque;
    padding: 20px;
}

.row{
    margin: 5px;
}

.dataset{
    border: solid 1px blue;
    border-collapse: collapse;
    width:100%;
    background-color: whitesmoke;
}

.dataset th, td{
    border: solid 1px blue;
    padding: 7px;
    width: 25%;
}

.folder{
    background-color: yellowgreen;
}

.file{
    background-color: burlywood;
}