body{
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: center;

    div{
        background-color: rgb(110, 110, 110);
    }

    #Container{
        display: flex;
        flex-direction: column;
        width: 80%;
        border-radius: 8px;


        header{
            display: flex;
            justify-content: center;
        }
        #stInfo{
            padding: 20px;
            background-color: rgb(90, 90, 90);
            border-radius: 0px 0px 8px 8px;
        }
        #line{
            background-color: black;
            height: 2px;
            width: 90%;
            margin: auto;
    
        } 
        .center-divs{
            display: flex;
            justify-content: center;
        }
        .Right-divs{
            text-align: right;
        }
        #header{
            display: flex;
            padding: 20px;
            justify-content: space-between;

            div{
                width: 33%;
            }
        }
        #content{
            display: flex;
            padding: 20px;
            justify-content: space-between;

            div{
                width: 33%;
            }
        }

        #outlineQuestions{
            display: flex;
            padding: 20px;
            justify-content: space-between;

            div{
                display: flex;
                align-items: center;
                width: 33%;


            }

            .Right-divs{
                display: flex;
                flex-direction: column;
                text-align: left;
                #options{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .probableAnswers{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}